<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="verify-v1" content="ATiEybiSKx5vc4aFU2EglZ5l2DT0ohIzLclT8rjaghk=" />
	<meta name="viewport" content="width = 320;"/>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
	<title>GlueyNotes - The iPhone / iPod Touch GTD application</title>
	<meta name="description" content="GlueyNotes Login - login to the simplest iPhone / iPod Touch GTD application">
	<meta name="keywords" content="note application login, notes, iPhone note taking application, iPhone GTD login, iPod Touch lists">
	
	<link media="screen" type="text/css" rel="stylesheet" href="/View/Style/MasterReset.css"  />
	<link media="screen" type="text/css" rel="stylesheet" href="/View/Style/Default.css"  />
	<link media="only screen and (max-device-width: 480px)" type="text/css" rel="stylesheet" href="/View/Style/Default-Small.css" />
</head>
<body>
	<div id="contents">
		<div>
			<div id="loginPanel" style="text-align: center;">
			<div id="logo">
				<a href="/About/Welcome/"><img src="/View/Style/Images/GlueyNotes.jpg" class="smalllogo" alt="GlueyNotes" /></a>
			</div>
			
			<p>Our apologies. Something seems to have gone awry.</p>
			
			<p>If you are looking for something that wasn't found, please try the <a href="/">home page</a>.</p>
			
			<p style="text-align: left; padding: 10px 27px 0 27px;">Otherwise, the GlueyNotes server might be undergoing a bit of work. If you keep getting 
				this page, please try us again in a little while.</p>
			
			</div>
		</div>
		
		<div>
			<div class="copyholder">
				Copyright &copy; 2007 <a href="http://robrohan.com">Rob Rohan</a>
			</div>
		</div>
	</div>
	
	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
	</script>
	<script type="text/javascript">
	_uacct = "UA-547266-5";
	urchinTracker();
	</script>
	</body>
</html>
